.navbar_container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background: #171717;
  border-bottom: 1px solid ivory;
  height: 60px;
  z-index: 2;
  overflow: hidden;
}

.navbar_elements {
  display: flex;
  padding-top: 20px;
}

.navbar_elements > h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 2em;
}

.navbar_search {
  position: absolute;
  top: 16px;
  left: 50%;
  height: 30px;
  width: 211px;
  background-color: #171717;
  color: white;
  border: 1px solid ivory;
}

.navbar_search:focus {
  outline: none;
}

::placeholder {
  color: ivory;
}