.post_container {
  display: flex;
  flex-direction: column;
  border: 1px solid ivory;
  width: 46vw;
  z-index: 1;
}

.post_header {
  display: flex;
  padding: 10px 0 0 0;
}

.link_flair {
  padding: 3px 0 0 0;
  margin: 0 5px 0 0;
  border: 1px solid ivory;
  font-weight: bold;
}

.pin_icon {
  display: flex;
  font-size: 16px;
}

.pin_icon > img {
  display: flex;
  width: 1.5em;
}

.pin_icon > div {
  padding: 3px 5px 0 0;
}

.post_author, .link_flair {
  font-size: 16px;
}

.post_author {
  padding: 3px 5px 0 0;
  font-weight: medium;
}

.post_awards {
  display: flex;
  width: 400px;
  padding: 0 5px 0 0;
  /* overflow: hidden; */
}

.post_awards_icon {
  width: 1.2em;
  height: auto;
}

.votes_container {
  display: flex;
  flex-direction: column;
  width: inherit;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.vote_image {
  display: flex;
  width: inherit;
  align-self: flex-start;
}

.vote_button {
  display: flex;
  position: relative;
  width: 1.5em;
  height: auto;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 0 0 0;
}

.vote_button:hover {
  filter: invert(45%) sepia(56%) saturate(2013%) hue-rotate(190deg) brightness(103%) contrast(104%);
}

.votes {
  display: flex;
}

.post_title {
  margin: 5px 0 0 0;
}

.post_media {
  /* width: 95%; */
}