.allcomments_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment_container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin: 10px 0 10px 0;
  padding: 0 2em 0 0;
  font-size: 16px;
  /* border-left: 1px solid#2699FB; */
}

.comment_container:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 95%;
  width: 1px;
  border-left: 1px solid #2699FB;
}

.comment_container:last-child {
  margin: 0 0 25px 0;
}

.left {
  display: flex;
  min-width: 30px;

  /* background-color: white; */
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment_header {
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 5px 0;
}

.upvotes {
  font-weight: normal;
  margin-left: 5px;
}

.replies_container {
  /* border-left: 1px solid#2699FB; */
  margin: 0 0 10px 0;
}

.reply_container, .secondReplies_container {
  border-left: 1px solid#2699FB;
  margin: 10px 0 10px 0;
  padding: 0 0 10px 15px;
}

.close_comments {
  display: flex;
  align-self: center;
  margin: 10px 45% 10px auto;
  /* justify-content: center; */
  background-color: transparent;
  border: none;
  outline: none;
  color: ivory;
  font-weight: medium;
  font-size: 20px;
}

.close_comments:hover {
  color: #2699FB
}

.reply_container:last-child, .secondReplies_container:last-child {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}