.subredditContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 16.6vw;
  justify-items: center;
}

.collectiveTitle {
  display: flex; 
  padding: 75px 0 0 50px;
  font-size: 42px;
  font-weight: bold;
}

.subredditsTitle {
  display:flex; 
  padding: 50px 0 0 50px;
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
}

.subredditList {
  display: flex;
  flex-direction: column;
  font-size: 2vmin;
  padding: 35px 0 0 50px;
  width: 100%;
}

.subredditList div {
  width: 100%;
  padding: 0 0 5px 0;
}

button {
  width: inherit;
  position: fixed;
  outline: none;
  border: none;
}

button:hover {
  color: white;
  background-color: rgba(38,153,251,0.9);
  outline: none;
  -webkit-box-shadow: inset 0px 0px 2px black;
     -moz-box-shadow: inset 0px 0px 2px black;
          box-shadow: inset 0px 0px 2px black;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: ivory;
}
